---
layout: default
---

<div class="home">

  <!-- <div class="category-container">
    <button class="category-item" onclick="changeCategory(`gamedev`)">Gamedev</button>
    <button class="category-item" onclick="changeCategory(`math`)">Matemática</button>
    <button class="category-item" onclick="changeCategory(`computation`)">Computação</button>
    <button class="category-item" onclick="changeCategory(`machine-learning`)">Machine learning</button>
  </div> -->
  
  <div class="grid" >
    {% for post in site.posts %}
    <div class="grid-item" data-category="{{ post.categories }}">
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      {% if post.subtitle %}
      <div class="post-sub">{{ post.subtitle | truncate: 120 }}</div>
      <a class="post-more" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
      {% endif %}
    </div>
    {% endfor %}
  </div>

  <script>
    var host = "tiagofabre.github.io";
    if ((host == window.location.host) && (window.location.protocol === "http:"))
        window.location.protocol = "https";
  </script>
  <script>
    function changeCategory(cat) {
      iso.arrange({
        filter: function( itemElem ) {
          return itemElem.getAttribute("data-category").includes(cat)
        }
      })
    }
  </script>
  <script>
    var elem = document.querySelector('.grid');
    var iso = new Isotope(elem, {
      itemSelector: '.grid-item',
      layoutMode: 'masonry'
    });
  </script>
</div>