<!DOCTYPE html>
<html>
  {% include head.html %}
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <link rel="stylesheet" id="editor-fonts-css" href="//fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700%2C400italic%2C600italic%2C700italic%7CRoboto+Condensed%3A300%2C400%2C700%2C300italic%2C400italic%2C700italic&amp;subset=latin%2Clatin-ext" type="text/css" media="all">
  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        
        {{ content }}
          
        {% if page.comments %}
          <div id="disqus_thread">
            <script>
              (function() {
                var d = document, s = d.createElement('script');
                s.src = '//https-tiagofabre-github-io.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
              })();
            </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          </div>
        {% endif %}

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
